@font-face {
  font-family: 'amx';
 src: url('../fonts/amx-black-webfont.eot');
    src: url('../fonts/amx-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amx-black-webfont.woff2') format('woff2'),
         url('../fonts/amx-black-webfont.woff') format('woff'),
         url('../fonts/amx-black-webfont.ttf') format('truetype'),
         url('../fonts/amx-black-webfont.svg#amx-black-webfont') format('svg');
  font-weight: 900;
  font-style: normal;

}
@font-face {
  font-family: 'amx';
	src: url('../fonts/amx-medium-webfont.eot');
    src: url('../fonts/amx-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amx-medium-webfont.woff2') format('woff2'),
         url('../fonts/amx-medium-webfont.woff') format('woff'),
         url('../fonts/amx-medium-webfont.ttf') format('truetype'),
         url('../fonts/amx-medium-webfont.svg#amx-medium-webfont') format('svg');
  font-weight: 500;
  font-style: normal;

}
@font-face {
  font-family: 'amx';
  src: url('../fonts/amx-regular-webfont.eot');
    src: url('../fonts/amx-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amx-regular-webfont.woff2') format('woff2'),
         url('../fonts/amx-regular-webfont.woff') format('woff'),
         url('../fonts/amx-regular-webfont.ttf') format('truetype'),
         url('../fonts/amx-regular-webfont.svg#amx-regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}






body{
    background: #1d1d1d;
	color: #ffffff;
}



.title {
    font-size: max(38px, min(72px, 7vw));
    line-height: .9em;
    padding: 2rem 0rem;
}
h1, h2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: justify;
	font-family: 'amx', amx, sans-serif;
    font-weight: 900;
}

p {
   font-family: 'amx', amx, sans-serif;
   text-align: justify;
   font-weight: normal;
   font-size: max(18px, min(22px, 1.5vw));
}

p a{
   color:#ffffff;
}

.container {
	width: 100%;
	max-width: 100%;
	padding: 5rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
.textLeft {
    text-align: left;
}

.container .accordion{ 
    width: 100%;
    margin: auto;
}

.container .accordion .accordion-item{
    /*border-color: #efa31d;*/
	border-top: 2px solid #ffffff;
	border-left: none;
	border-right: none;
	
}

.container .accordion  .accordion-item .accordion .accordion-item{
    /*border-color: #efa31d;*/
	border-top: 0.5px solid #adadad;
	border-left: none;
	border-right: none;
	
}

.container .accordion .accordion-item:last-child{
    /*border-color: #efa31d;*/
	border-bottom: 2px solid #ffffff;
	border-left: none;
	border-right: none;
	
}

.container .accordion  .accordion-item .accordion .accordion-item:last-child {
    /*border-color: #efa31d;*/
	border-bottom: 0px solid #adadad;
	border-left: none;
	border-right: none;
}
.container .accordion  .accordion-item .accordion .accordion-item:first-child {
    /*border-color: #efa31d;*/
	border-top: none!important;
	border-left: none;
	border-right: none;
}

.accordion-body {
    padding: 0;
	background: #1d1d1d;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.accordion-item {
    background-color: #1d1d1d;
    border-top: 1px solid rgba(0, 0, 0, .125);
	 border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.accordion-button {
	font-family: 'amx', amx, sans-serif;
    font-weight: bold;
	font-size: max(30px, min(38px, 5vw));
	padding: 1rem 0.05rem;
}

.accordion-body p {
    padding: 0rem 1.25rem 1rem 1.25rem;
	background: #1d1d1d;
	    
}

#accordionExample .accordion-item .accordion-header .accordion-button{
    color: #fff;
    background-color: transparent;
	background: #1d1d1d;
    box-shadow: none;
}


.cls-1 {
	fill: #FFFFFF!important;
	stroke: #FFFFFF!important;
	stroke-miterlimit: 10;
	stroke-width: 0.25px;
	fill-rule: evenodd;
}

.accordion-button.btn-secundario {
 font-weight: normal;
}



.accordion .accordion-item .accordion-header .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E42838'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
	width: 2.25rem;
    height: 3.25rem;
	background-size: 2.25rem;
}
.accordion-button.btn-secundario::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' class='cls-1' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")!important;
	width: 1.25rem!important;
    height: 1.25rem!important;
	background-size: 1.25rem!important;
	margin-right: 6px !important;
}



#accordionExampleOne .accordion-item .accordion-header{
   /* background: #468B97;*/
}

#accordionExampleOne .accordion-item:first-child .accordion-header{
    
}

#accordionExampleOne .accordion-item:last-child .accordion-header{
    }

#accordionExampleOne .accordion-item .accordion-header .accordion-button, #accordionExampleTwo .accordion-item .accordion-header .accordion-button{
  /*  background: #468B97;*/
}


#accordionExampleOneTwo .accordion-item .accordion-header, #accordionExampleOneTwo .accordion-item .accordion-header .accordion-button{
    /*background: #EF6262;*/
}

#accordionExampleOneTwo .accordion-item{
    /*border-color: #fff;*/
}